version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: expense-tracker-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: expensetracker
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  backend:
    build:
      context: ./Backend-Expense-Tracker/ExpenceTrackerBackend
      dockerfile: Dockerfile
    container_name: expense-tracker-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/expensetracker?createDatabaseIfNotExist=true&allowPublicKeyRetrieval=true&useSSL=false
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: rootpassword
    depends_on:
      mysql:
        condition: service_healthy
    restart: always

  frontend:
    build:
      context: ./Frontend-Expense-Tracker
      dockerfile: Dockerfile
    container_name: expense-tracker-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always

volumes:
  mysql_data:
